# Python
__pycache__/
*.py[cod]
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
media/  # ideally i should remove due to the heavinees ,
todo/static/ # ideally i should remove due to the heavinees ,

# Virtual Environment
venv/
.env
*.env

# IDEs
.idea/
.vscode/
*.swp
